---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import Hero from '../components/Hero.astro';
---

<Layout 
  title="Whisperpiano's portfolio - Frontend developer, piano teacher & music"
  description="Hire whisperpiano, a frontend developer, piano teacher and music lover."
>
	<div class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_30%_at_50%_0%,rgba(255,255,255,0.10),rgba(255,255,255,0))]"></div>

	<main class="px-4">
		<SectionContainer id="hero" class="text-center py-28 min-h- grid place-content-center">
			<Hero />
		</SectionContainer>

		<SectionContainer id="projects">
			<Projects />
		</SectionContainer>
	</main>
</Layout>