---
const personalImageAlt = ["Jesus in the mountains", "Jesus with food"]
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-[#4fc9e1] text-pretty order-2 md:order-1">
      
      <p>
       I'm Jesús Alberola Herrero, a passionate musician and programmer from Spain. From a young age, my two great loves have been <strong class="italic">music and technology.</strong>
      </p>
  
      <p>
        In 2019, after a decade of intensive studies at the Villena Professional Conservatory of Music, I graduated as a <strong class="italic">piano teacher and music composer.</strong> That was when I decided to embark on a new adventure and moved to picturesque Norway. Currently, I have the honor of being a piano teacher at Sandnes Kulturskole, where I enjoy sharing my love for music with young talents.
      </p>
  
    </div>
  
    <img width="200" height="200" src="/me.jpg" alt={personalImageAlt[0]} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-white/20 dark:ring-white/20 " style="object-position: 50% 50%">
  
  </article>

  <article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
    <div class="[&>p]:mb-4 [&>p>strong]:text-[#4fc9e1] text-pretty order-2 md:order-2">
        <span class="text-2xl font-bold text-[#4fc9e1]">But...</span>
          <p>
            ... there was always an additional spark in my life: <strong class="italic">programming.</strong> Since childhood, I have been fascinated by video games and computers, and that interest never disappeared. So, in 2023, I decided to make an exciting career shift and started studying <strong class="italic"> front-end development</strong> to fulfill that latent passion.
          </p>
    
          <p>
            Now, I feel fortunate to combine my two great passions: music and programming. Every day, I find new ways to integrate musical creativity with the logic and design of web development.
          </p>
    </div>

    <img width="200" height="200" src="/me3.jpg" alt={personalImageAlt[1]} class="order-1 object-cover w-64 h-full p-1 md:order-1 -rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-white/20 dark:ring-white/20 " style="object-position: 50% 50%">
  </article>

 