
<section>
    <h2 class="text-xl  text-center py-14 font-semibold bg-gradient-to-t from-white/30 to-white bg-clip-text text-transparent tracking-wide">A piece of my memories</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/3.webp" alt="">
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/1.webp" alt="">
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/2.webp" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/4.webp" alt="">
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/5.webp" alt="">
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/6.webp" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/7.webp" alt="">
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/8.webp" alt="">
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/12.jpg" alt="">
            </div>
        </div>
        <div class="grid gap-4">
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/10.webp" alt="">
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/11.webp" alt="">
            </div>
            <div>
                <img class="h-full max-w-full rounded-lg object-cover" src="gallery/9.webp" alt="">
            </div>
        </div>
    </div>
</section>
