<header class="sticky top-0 flex flex-row items-center justify-between py-10 px-6">
    <nav class="absolute z-[100] left-1/2 transform -translate-x-1/2 py-4 px-4 bg-neutral-800/80 rounded-full backdrop-blur border border-white/10">
        <ul class="flex flex-row gap-x-2 text-white font-medium text-sm">
            <li><a href="#projects" class="py-2 px-4 rounded-full hover:bg-sky-300/20 hover:text-sky-100 transition">Projects</a></li>
            <li><a href="#about" class="py-2 px-4 rounded-full hover:bg-sky-300/20 hover:text-sky-100 transition">About me</a></li>
            <li><a href="#experience" class="py-2 px-4 rounded-full hover:bg-sky-300/20 hover:text-sky-100 transition">Resume</a></li>
        </ul>
    </nav>
</header>
