<button	
  onclick="document.getElementById('projects').scrollIntoView({ behavior: 'smooth' })"
  class="cursor-pointer bg-white/5 border border-white/10 px-3 py-3 rounded-full text-white tracking-wider shadow-xl animate-bounce hover:bg-white/10  hover:border-white/50 transition"
>
	<svg
	  class="size-4 lg:size-5"
	  stroke="currentColor"
	  stroke-width="2"
	  viewBox="0 0 24 24"
	  fill="currentColor"
	>
		<path
		  d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"
		  stroke-linejoin="round"
		  stroke-linecap="round"
		></path>

	</svg>
    
</button>