---
// Supports weights 100-900
import '@fontsource-variable/onest';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { ViewTransitions } from 'astro:transitions';
import OpenGraph from '../components/OpenGraph.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<OpenGraph />
		<ViewTransitions />
	</head>
	<body class="relative">
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		background:#050505 ;
		font-family: 'Onest Variable' ,system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100dvh;
		
	}

	@media {prefers-reduced-motion: reduce} {
		html {
			scroll-behavior: auto;
		}
	}
	
</style>
